@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

.bg-fon {
  background-color: white;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.bg-img {
  padding: 10px 25px 10px 25px;
  overflow: auto;
  height: 100vh;
  background-size: cover;
  background-position: top left;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%; }

details {
  color: #2aad2a;
  font-size: 11px;
  margin: 4px 0 0 0;
  padding: 0; }

details:hover {
  color: #6ef76e;
  font-size: 11px;
  margin: 4px 0 0 0; }

pre {
  margin: 0;
  font-weight: 550;
  font-family: "Montserrat", sans-serif; }

.head {
  color: #29a829; }

.carBrocken {
  color: red; }

.form-group {
  width: 250px;
  padding: 0 0 0 0;
  margin: 0 2px 0 0; }

.form-group input {
  font-size: 14px;
  height: 35px; }

.form-group label {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #cecaca; }

.form-group label:hover {
  color: limegreen; }

.form-control {
  margin: 0;
  padding: 0 2px 0 2px;
  width: 100%;
  text-align: center;
  background: #acaaaa; }

.form-control:hover {
  background: #f8f8f8;
  color: black;
  font-weight: 500; }

#date {
  background-color: #8bec8b;
  width: 100%;
  margin: 0 25px 0 0;
  text-align: center; }

#date:hover {
  background-color: #d2f1d2; }

#time {
  width: 197px;
  margin: 0 0px 0 0px;
  padding: 0 0px 0 0px;
  text-align: center; }

#time label {
  padding: 0 0 0 0;
  margin: 0 0 0 -130px; }

#date {
  width: 120px;
  font-size: 13px;
  padding: 0; }

#datetime-local {
  width: 122px; }

#datetime-local input {
  font-size: 8.5px;
  padding: 0; }

#dateOfCarRegistration {
  width: 90%;
  margin: 0 32px 0 0;
  text-align: center; }

.important {
  background-color: lightgreen; }

.important:hover {
  background-color: #d2f1d2; }

#danger:hover {
  background-color: #e21a1a; }
