/* -------------------------------Route Table----------------------------------*/
.allPaymentsConteiner{
    padding: 0px 5px 0px 5px;  
}
.paymentDetails {
    color: black;
    font-size: 9px;
    margin: 0 0 0 0;
  }
  .paymentDetails:hover {
    color: #190585;
    font-size: 9px;
  }
  .paymentDetails summary{
    width: 20%;
  }
.paymentDetailsSmall{
    font-size: 7px;
}
//---------------------------------->
.payments-groupe{
    background-color: rgb(26, 49, 70);
    padding: 0;
    margin: 1px 0 1px 0;
    &:hover{
      background-color: rgb(34, 63, 90);
    }
}
.paymentTableBasis {
    height: auto;
  }
  .paymentHeadTable {
    margin-bottom: 2px;
    user-select: none;
    color: black;
    font-size: 10px;
  }
  .paymentTable {
    cursor: pointer;
    color: black;
    //border-radius: 5px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 1px 1px 1px 1px rgba(0,0,0,0.64); 
    box-shadow: 0px 10px 13px -7px #000000, 1px 1px 1px 1px rgba(0,0,0,0.64);
    font-size: 12px;
  }
  .paymentTable td{
      margin: 0;
      padding: 0;
      border: 1px solid rgb(0, 0, 0);

  }
  .paymentHeadTable td{
      border: 1px solid rgb(0, 0, 0);
  }
  .routeTable:hover {
    color: rgb(3, 192, 192);
    -webkit-box-shadow: 0px 10px 13px -7px #2e2e2e, 1px 1px 1px 1px rgba(0,0,0,0.64); 
    box-shadow: 0px 10px 13px -7px #424242, 1px 1px 1px 1px rgba(0,0,0,0.64);
  }
  .deleteRouteBtn {
    font-size: 7px;
    padding: 0 5px 0 5px;
    margin: 5px 0 3px 0;
    color: #ff2400;
  }
  .deleteRouteBtn:hover {
    color: black;
  }
  .payment-buttons-grup {
    padding-bottom:5px;
    margin: 5px 0px 0px 0px;
  }
  .payment-buttons-grup button{
    font-size: 12px;
  }
  .add-pay-btn, .close-list-pay-btn{
    width: 50%;
    padding: 0;
    margin: 0px 0px 0px 0px;
    color: black;
  }
//   #countRoutesGroup {
//     font-size: 14px;
//     margin: 2px 30px 0 20px;
//   }
//   #countRoutesGroup small {
//     font-size: 11px;
//   }
  .headStart {
    color: black;
  }
  .headAdd {
    color: black;
  }
  .headExpended {
    color: black;
  }
  .headEnd {
    color: black;
  }
//   #createRouteDate {
//     width: 90%;
//     margin: 0 0px 0 0;
//     text-align: center;
//   }
  // ---Create Route Form------------------------------>
.createPaymentStyle {
    padding: 0px 3px 7px 1px;
  }
  .createRouteBtn {
    font-size: 15px;
    width: 100%;
    margin: 10px 0px 0px 0;
    padding: 0;
    color: black;
  }
  .routeHead {
    color: black;
  }
  /*-----------COMMON PAYMENTS - DATA PAGE---------------*/
.createTimeBasis {
  padding: 1px 10px 10px 10px;
  background: rgb(23, 19, 51);
  border-radius: 5px;
  background-position: top;
  background-size: cover;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(238, 212, 212, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.createTimeLiquidsBasis input {
  font-size: 13px;
}
.createDateBtn {
  color: black;
  padding: 0 0 0 0;
  height: 25px;
  width: 122px;
}
.createDateBtnConteiner {
  width: 122px;
  height: 25px;
  margin: 20px 0px 0 0px;
}

//---PAYMENTS HEADER ------------------------------->
.createPaymentsHeadBasis {
  margin: 8px 0 0 0;
  padding: 1px 0px 0px 0px;
  background: rgb(23, 19, 51);
  //border-radius: 5px;
  background-position: top;
  background-size: cover;
  width: 100%;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}
.payments-conteiner {
  margin: 0px 0px 5px 0px;
}
.paymentNumber {
  font-weight: bold;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
.paymentData {
  font-weight: 300;
  color: rgb(58, 45, 245);
}
.allPaymentTable {
  font-size: 12px;
  height: 10px;
  width: 100%;
  text-align: center;
}
.allPaymentTable td {
  width: 25%;
}
.allPaymentTable table tbody tr td {
  margin:0;
  padding: 0;
}












// .liquidName {
//   color: rgb(43, 223, 52);
//   font-weight: 300;
// }
// #liquidNameCol {
//   text-align: center;
//   width: 100%;
// }



// .liquidbalanceExpended {
//   font-weight: 300;
//   color: rgb(248, 24, 61);
// }
// .liquidbalanceFinish {
//   font-weight: 300;
//   color: rgb(15, 216, 31);
// }

//   #routeDate {
//     width: 90%;
//     margin: 0 33px 0 0;
//     text-align: center;
//     background-color: lightgreen;
//   }
//   #routeDate:hover {
//     background-color: rgb(235, 240, 235);
//   }
//   #dateOfCarRegistration {
//     width: 90%;
//     margin: 0 25px 0 0;
//     text-align: center;
//   }
//   #routeTime {
//     width: 182px;
//     margin: 0 0px 0 0px;
//     padding: 0 0px 0 0px;
//     text-align: center;
//   }
//   #routeTime label {
//     padding: 0 0 0 0;
//     margin: 0 0 0 -113px;
//   }
//   #datetime-local input{
//       width: 120px;
//       font-size: 8.5px;
//       padding: 0;
//   }
  

//   #modifyListBtn {
//     font-size: 15px;
//     width: 100%;
//     margin: 10px 20px 5px 0;
//     padding: 0 0 0 0;
//     color: black;
//   }


 
  