//-- CREATE PROJECT STYLE --------------------->
.projectInnerLi {
  margin: 5px 0 0 0;
  padding: 0;
  background: rgb(69, 73, 77);
  // &:hover {
  //   background: rgb(136, 155, 174);
  // }
}
.CreateProjectStyle {
  margin: 5px 12px 0 15px;
}
.clouseProjectBasis {
  padding: 5px 5px 0 5px;
  cursor: pointer;
}
.clouseProjectForm {
  background-color: rgb(8, 28, 71);
  width: 100%;
  text-align: center;
  margin: 0px;
  &:hover {
    background-color: rgb(10, 35, 90);
  }
}
.clouseProjectTableButton {
  font-size: 14px;
  color: white;
  height: 25px;
  &:hover {
    color: rgb(228, 196, 12);
  }
}
.projectTable {
  cursor: pointer;
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding: 0 5px 0 5px;
  //border: 1px solid black;
  //border-radius: 5px;
  // -webkit-box-shadow: 0px 0px 4px 2px rgb(95, 94, 94);
  // -moz-box-shadow: 0px 0px 4px 2px rgb(95, 94, 94);
  // box-shadow: 0px 0px 4px 2px rgb(95, 94, 94);
  &:hover {
    color: rgb(11, 32, 148);
    //border-radius: 5px;
    // -webkit-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    // -moz-box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
    // box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  }
}
.deleteProjectBtn {
  font-size: 7px;
  padding: 0 5px 0 5px;
  margin: 2px 0 2px 0;
  color: #ff2400;
}
.deleteProjectBtn:hover {
  color: black;
}
.projectButtonsGrup {
  padding: 0 3px 2px 5px;
}
.headTable {
  color: rgb(228, 196, 12);
  font-size: 12px;
  font-weight: 600;
  background-color: none;
  margin: 2px 0 0 0;
  user-select: none;
}
.headTable td {
  border: 1px solid rgb(45, 52, 58);
}
.projectTable td {
  border: 1px solid rgb(142, 164, 184);
}
// .head {
//   color: rgb(41, 168, 41);
// }
//--MODIFY PROJECT STYLE --------------------->

.custom-select-sm {
  margin: 0 0 0 0;
  }
.saveProjectBtn {
  font-size: 15px;
  width: 100%;
  margin: 10px 2px 5px 0;
  padding: 0;
  color: black;
}
//--BUTTONS BLOCK ----------------------------->
.projectButtonsGrup button {
  font-size: 12px;
}
.addProjectBtn,
.closeProjectBtn {
  width: 50%;
  padding: 0;
  margin: 5px 0 0 0;
}
//---SUMMARU HTML------------------->
details {
  font-size: 10px;
  margin: 2px 0 0 0;
  padding: 0;

  &:active {
    color: rgb(60, 60, 60);
    border: none;
  }
}
#summary {
  color: rgb(34, 34, 34);
  width: 15%;
  display: flex;
}
#summaryConteiner {
  display: flex;
  justify-content: space-between;
  border: none;
}
#small {
  color: rgb(17, 209, 24);
  font-weight: bold;
  &:active {
    border: none;
  }
  &:hover {
    color: rgb(248, 223, 33);
  }
}
.good{
  font-weight: bold;
  color: blue;
}
.bad {
  font-weight: bold;
  color: red;
  padding: 1px 3px 1px 3px;
  border: 2px solid red;
  border-radius: 50%;
}
.badTime {
  background-color: red;
  font-weight: bold;
  color:black;
}
.goodTime {
  font-weight: bold;
  color: blue;
  padding: 1px 3px 1px 3px;
}
.projectName{
  font-weight: bold;
}
.smallProjectDateBold{
  font-weight: bold;
}
.projectBasis{
  height: 19px;
}

// .liquidValue {
//     color: rgb(146, 145, 145);
//   }
